* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.background-container {
	display: grid;
	justify-items: center;
	gap: 2em;
	min-height: 100vh;
}

/* ::-webkit-scrollbar {
	height: 18px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 9px;
} */

/* ══­­­══­­­══­­­══­­­══­­­   SEARCH BAR   ══­­­══­­­══­­­══­­­═══ */

.search-container {
	width: 80%;
	max-width: 600px;
	display: grid;
	grid-template-columns: 1fr 40px;
	margin-top: 2em;
	padding: 0.6em 0.3em 0.6em 1.5em;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	border-radius: 12px;
}

.search-query {
	width: 100%;
	padding-right: 0.5em;
	background: transparent;
	border: none;
	border-radius: 12px;
	outline: none;
	text-align: left;
	font-size: 1.5rem;
	color: white;
}

.search-button {
	background: transparent;
	border: none;
	padding-right: 0.5em;
}

/* ══­­­══­­­══­­­══­­­══­­­   CURRENT'S WEATHER CONTAINER   ══­­­══­­­══­­­══­­­═══ */

.current-weather-container {
	width: 80%;
	max-width: 600px;
	padding: 1em 1em;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"city date"
		"temp temp"
		"condition condition"
		"humidity-container wind-container";
	color: white;
	background: rgba(0, 0, 0, 0.3);
	border: 3px solid rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	border-radius: 12px;
}

.current-city {
	align-self: start;
	justify-self: start;
	font-size: 1.5rem;
	grid-area: city;
}

.current-date {
	align-self: start;
	justify-self: end;
	font-size: 1.5rem;
	grid-area: date;
}

.current-temp {
	align-self: center;
	justify-self: center;
	font-size: 3.5rem;
	grid-area: temp;
}

.current-condition {
	align-self: center;
	justify-self: center;
	font-size: 1.5rem;
	padding: 0.1em 0 1em;
	grid-area: condition;
}

.current-humidity-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-area: humidity-container;
}

.current-humidity-icon {
	width: 2rem;
	justify-self: end;
	margin-right: 0.5em;
}

.current-humidity {
	font-size: 1.25rem;
	align-self: center;
}

.current-wind-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-area: wind-container;
}

.current-wind-icon {
	width: 2rem;
	justify-self: end;
	margin-right: 0.5em;
}

.current-wind {
	font-size: 1.25rem;
	align-self: center;
}

/* ══­­­══­­­══­­­══­­­══­­­   TODAY'S WEATHER HOURLY CONTAINER   ══­­­══­­­══­­­══­­­═══ */

/* TODO ADD VERTICAL SEPARATOR */

.weather-hourly-container {
	width: 80%;
	max-width: 600px;
	padding: 0 1em 1em;
	display: grid;
	grid-template-columns: repeat(24, auto);
	color: white;
	background: rgba(0, 0, 0, 0.3);
	border: 3px solid rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	border-radius: 12px;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}

.weather-hourly-div {
	display: grid;
	grid-template-rows: 50px auto 50px;
	padding: 0 1em;
	justify-items: center;
	align-items: center;
}

.hour-condition-para {
	text-align: center;
	line-height: 1.25;
}

/* ══­­­══­­­══­­­══­­­══­­­   FORECAST'S WEATHER CONTAINER   ══­­­══­­­══­­­══­­­═══ */

/* TODO ADD ICONS FOR MIN TEMP AND MAX TEMP */

.forecast-container {
	width: 80%;
	max-width: 600px;
	padding: 0.6em 0.3em;
	margin-bottom: 5em;
	display: grid;
	grid-template-areas:
		"tomorrow-date tomorrow-date"
		"tomorrow-condition tomorrow-condition"
		"tomorrow-min-temp tomorrow-max-temp"
		"separator separator"
		"overmorrow-date overmorrow-date"
		"overmorrow-condition overmorrow-condition"
		"overmorrow-min-temp overmorrow-max-temp";
	justify-items: center;
	font-size: 1.5rem;
	color: white;
	background: rgba(0, 0, 0, 0.3);
	border: 3px solid rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	border-radius: 12px;
}

/* ══­­­══­­­══­­­══­­­══­­­   TOMORROW'S WEATHER CONTAINER   ══­­­══­­­══­­­══­­­═══ */

.tomorrow-date {
	grid-area: tomorrow-date;
}

.tomorrow-condition {
	grid-area: tomorrow-condition;
}

.tomorrow-min-temp {
	grid-area: tomorrow-min-temp;
	justify-self: end;
	padding-right: 10px;
}

.tomorrow-max-temp {
	grid-area: tomorrow-max-temp;
	justify-self: start;
	padding-left: 10px;
}

/* ══­­­══­­­══­­­══­­­══­­­   OVERMORROW'S WEATHER CONTAINER   ══­­­══­­­══­­­══­­­═══ */

.overmorrow-date {
	grid-area: overmorrow-date;
}

.overmorrow-condition {
	grid-area: overmorrow-condition;
}

.overmorrow-min-temp {
	grid-area: overmorrow-min-temp;
	justify-self: end;
	padding-right: 10px;
}

.overmorrow-max-temp {
	grid-area: overmorrow-max-temp;
	justify-self: start;
	padding-left: 10px;
}

.separator {
	grid-area: separator;
	width: 95%;
	height: 1px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	margin: 10px 0;
}
